    <h2>Consult Time</h2>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :consult_date %><br>
      <%= f.date_select :consult_date %>
    </div>
    <div class="field">
      <%= f.label :consult_time %><br>
      <%= f.time_select :consult_time %>
    </div>